Comments from Colm

Comments from Colm
https://mailarchive.ietf.org/arch/msg/tls/tVopKwLheDp9tLUcXOwEdXJgnXQ/

I went to look a bit more deeply at the interaction between RFC 8449 and
this new limit and I'm wondering; is there a good reason to permit values
lower than 2^14? this is named "Large" and "Jumbo" after all.  One reason I
ask is that with this restriction a client can cache the limit if it's 2^14
or below and that's that. The logic of whether to apply the limit to the
handshake and early data becomes unambiguous from that cached value.
Otherwise, because the values can overlap, additional client-side state is
needed because the mechanisms differ in how handshake and early data should
be sent.

Separately, the draft references the AEAD limit calculations in RFC8446 -
but there are no AEAD limit calculations in RFC8446. Section 5.5 does have
a reference, but the link is now broken. This is particularly unhelpful for
ChaCha20/Poly. Will the record sequence number still wrap before doom? The
answer can't be pieced together from the documents. Even if you do find the
new link, the analysis assumes 2^14 sized records; it's not a variable in
the calculations or tables, so the reference doesn't help.

The text in the draft now says ...

  ``When the "large_record_size" has been negotiated record size limit
larger than 2^14 + 1 bytes, existing AEAD limits SHALL be decreased by a
factor of (LargeRecordSizeLimit) / (2^14-256).''

what does that mean? Is the AEAD limit supposed to be on the number of
messages (records in TLS speak) encrypted? or is it on the amount of data
actually sent? or some combination of both? The former alone is pretty
punitive. That's only 262k records at a 2^32 sized record limit. That's not
great for a protocol such as NFS, where I might reasonably want to transfer
a large file as a very very big record, but most of the other records are
small and chatty, and at the same time I want a session that can last years
rather than run out records so quickly. In that case, I'd much prefer to
track how much data is actually sent and derive the safe AEAD limit from
that; but the calculation isn't so simple.


https://mailarchive.ietf.org/arch/msg/tls/XlAZyve1A-5yiraojVzAoNYYECQ/

Hi Colm,

You are right that the link in RFC 8446, Section 5.5 is now broken. The same document also appears in a more stable way here:

https://eprint.iacr.org/2024/051.pdf

As you say, though, it does not consider record length to be a variable. This was done for reasons of simplicity and without knowing that longer records might one day be negotiatble in TLS.


Regards,

Kenny


>is there a good reason to permit values lower than 2^14? 
The reason for this is lower overhead which is useful for Iot.